

= image_tag @user.avatar.url, :id => "cropbox"

%p
  %h4 Preview:
  %div{:style => "width:100px; height:100px; overflow:hidden"}
    = image_tag @user.avatar.url, :id => "preview"



= form_for @user,:url => "/homes/#{@user.id}/update_crop" do |f|
  - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
    = f.hidden_field attribute, :id => attribute
  %p= f.submit "Crop"



:javascript
  $('#cropbox').Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    aspectRatio: 1
  });

  function update_crop(coords)
  {
    var rx = 100/coords.w;
    var ry = 100/coords.h;
    $('#preview').css({
      width: Math.round(rx * "#{@user.avatar_geometry.width}") + 'px',
      height: Math.round(ry * "#{@user.avatar_geometry.height}") + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });

    var ratio = "#{@user.avatar_geometry(:original).width}" / "#{ @user.avatar_geometry.width}";

    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
  }

